<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand">Meus Clientes</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        
    </form>
    <!-- -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-danger" (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i> Sair
                </button>
            </div>
        </li>
    </ul>
</nav>